<!DOCTYPE HTML>
<html>

	<head>
		<title>公众号【C you again】考勤管理</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<link href="../css/style.css" rel='stylesheet' type='text/css' />
		<link href="../css/dorm.css" rel='stylesheet' type='text/css' />
		<link href="../css/bootstrap/bootstrap.css" rel='stylesheet' type='text/css' />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/vue/vue.js"></script>
        <script src="../js/vue/axios.min.js"></script> 
	</head>

	<body >
	
		<!-- banner -->
		<div class="banner" >
		
			<div class="header">
				<div class="logo" id="session__app">
					<a href="javascript:window.location.reload();">{{login.userName}}</a>
				</div>
				<div class="top-menu">
					
					<ul class="navig">
						<li>
							<a href="admin_index.html">首页</a>
						</li>
						<li>
							<a href="dormManage.html">宿舍管理员</a>
						</li>
						<li >
							<a href="studentManage.html">学生</a>
						</li>
						<li >
							<a href="buildManage.html">宿舍楼</a>
						</li>
						<li class="active">
							<a href="#">考勤</a>
						</li>
						<li>
							<a href="punchClockManage.html">打卡</a>
						</li>
						<li>
							<a href="noticeManage.html">公告</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<!---->
		
		<!--  -->
		
		<div class="center-content" id="app">
			<div class="left">
				<div class="gongGao">
					<div class="title">公 告</div>
					<div class="context">你是管理员，请<a style="display:inline-block;" href="noticeManage.html">发布公告</a></div>
				</div>
				<div class="gongGao">
					<div class="title">友 情 链 接</div>
					<div class="context">
						<a href="https://blog.csdn.net/qq_40625778">》CSDN，技术分享</a>
						<a href="https://gzh.cyouagain.cn/">》热门文章推荐</a>
						<a href="https://y0ahx3.coding-pages.com/">》个人博客，系统源码大全</a>
						<a href="https://www.cnblogs.com/cafuc20160512056/">》博客园，技术分享</a>
						<a href="https://www.jianshu.com/u/33531987c9a7">》简书，技术分享</a>
						
					</div>
				</div>
				<div class="gongGao">
					<div class="title">源 码 下 载</div>
					<div class="context">
						<div style="font-size:14px; width: 100%;  height: 400px;margin-bottom: 20px;">
							<div style="padding: 5px;  color: black">
								<label style="font-size:15px;font-weight: normal;">下载源码请到公众号：C you again</label><br />
								<label style="font-size:15px;font-weight: normal;">1、求职者：面试题、面试经验、面试技巧</label><br />
								<label style="font-size:15px;font-weight: normal;">2、职场人：技术分享、程序人生</label><br />
								<label style="font-size:15px;font-weight: normal;">3、学生党：Java从入门到精通PDF版教程、数据结构与算法、各类系统实战教程</label><br />
								<label style="font-size:15px;font-weight: normal;">4、其它：PPT模板、简历模板、计算机使用技术及技巧</label>
							</div>
							<img width="160px" style="margin-left:50px;" src="../img/gzh.jpg" />
						</div>
					</div>
				</div>
			</div>
			<div class="right">
					<div class="data_list">
						<div class="data_list_title">
							考勤管理
						</div>
						<form name="myForm" class="form-search" method="post" action="#">
						
							<span class="data_search">
					<select v-model="search.filter" id="searchType" name="searchType" style="width: 80px;">
					<option value="studentName">姓名</option>
					<option value="studentNumber">学号</option>
					<option value="dormName">寝室号</option>
					</select>
					&nbsp;<input v-model="search.key" id="s_dormManagerText" name="s_dormManagerText" type="text"  style="width:120px;height: 30px;" class="input-medium search-query" >
					&nbsp;<button onclick="searchRecordManage()" type="button" class="btn btn-info" >搜索</button>
				</span>
						</form>
						<div>
							<table class="table table-hover table-striped table-bordered">
								<tr>
								    <th>编号</th>
									<th>日期</th>
									<th>姓名</th>
									<th>学号</th>
									<th>宿舍楼</th>
									<th>寝室号</th>
									<th>说明</th>
									<th>操作</th>
								</tr>
								
									<tr v-for="(item,index) in recordManageList">
										<td>{{index+1}}</td>
										<td>{{item.date}}</td>
										<td>{{item.studentName}}</td>
										<td>{{item.studentNumber}}</td>
										<td>{{item.dormBuildId==0?'暂未安排':item.dormBuildId+'栋'}}</td>
										<td>{{item.dormName}}</td>
										<td>{{item.detail}}</td>
										<td>
											<button class="btn btn-mini btn-danger" type="button" @click="recordManagerDeleteById(item.recordId)">删除</button>
										</td>  
									</tr>
								
							</table>
						</div>
						
						<div class="pagination pagination-centered">
							<div class="pagination_box">
							  <button id="page_up" type="button" onclick="pageUp()" class="page_up">上一页</button>
							  <div class="page_cur">{{pagination.pageNum}}/{{pagination.pageTotal}}</div>
							  <button id="page_down" onclick="pageDown()" type="button" class="page_down">下一页</button>
							</div>
						</div>
					</div>
			</div>
		</div>

		<!---->
		
	      <div class="copywrite">
			<div class="container">
				<p>版权声明：此系统来自于公众号【C you again】，使用过程中请注明来源！欢迎大家学习，参考！
					<a href="https://cyouagain.cn/">公众号官网，点击查看更细系统源码</a>  | 
					<a href="https://gzh.cyouagain.cn/">热文推荐</a>
				</p>
			</div>
		</div>  
		
	
	<script src="../js/vue/admin_recordManage.js"></script>
	<script src="../js/vue/admin_loginManage.js"></script>
	</body>
 
</html>